* {
    box-sizing: border-box;
}

header {
    padding: 60px;
    text-align: center;
    background: #2e4052;
    color: white;
}

nav {
    width: 100%;
    display: flex;
    background-color: #ffc857;
}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #fff;
    color: black;
}

main {
    flex: 70%;
    padding: 20px;
    background-color: #fff;
}

aside {
    flex: 30%;
    padding: 20px;
    background-color: #6a8473;
    text-align: center;
    align-items: center;
}

footer {
    position: absolute;
    padding: 20px;
    text-align: center;
    background: #2e4052;
    color: #fff;
    left: 0;
    right: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    max-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.button {
    background-color: #2e4052;
    color: white;
    padding: 14px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-size: 15px;
    font-family: normal;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #2e4052;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 800px) {
    .flex-container,
    .nav {
        flex-direction: column;
    }
}