@import url("general.css");

.button {
    background-color: #2e4052;
    color: white;
    padding: 14px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-size: 15px;
    font-family: normal;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #2e4052;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}