<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Accueil administrateur</title>
    <link href="/css/home_admin.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="flex-container">
    <aside class="aside">
        <div class="aside-header">
            <h3>MATTERLEAST</h3>
        </div>
        <div class="content">
            <div class="channel">
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/0}">TOUS LES UTILISATEURS</a></h4>
                </div>
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/add}">NOUVEL UTILISATEUR</a></h4>
                </div>
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/desactivated}">UTILISATEURS DÉSACTIVÉS</a></h4>
                </div>
            </div>
        </div>
        <div class="sidebar-footer">
            <div class='user_infos_container'>
                <h4><span th:text="${session.user.firstName}"></span>  <span th:text="${session.user.lastName}"></span></h4>
                <h5><span th:text="${session.user.mail}"></span></h5>
            </div>
            <a th:href="@{/admin/modifySelf}">
                <img width="20" height="20" th:src="@{/visuals/settings.png}"/>
            </a>
            <a th:href="@{/admin/deconnect}">
                <img width="20" height="20" th:src="@{/visuals/deconnexion.png}"/>
            </a>
        </div>
    </aside>
    <main class="main">
        <header>
            <h1>Tous les utilisateurs</h1>
        </header>

        <div class="table">
            <table>
                <thead class="table-header">
                <tr>
                    <th class="header__item">
                        <h4>utilisateur</h4>
                    </th>
                    <th class="header__item">
                        <h4>activé</h4>
                    </th>
                    <th class="header__item">
                        <h4>admin</h4>
                    </th>
                    <th class="header__item">
                        <h4>modifier</h4>
                    </th>
                    <th class="header__item">
                        <h4>supprimer</h4>
                    </th>
                </tr>
                </thead>
                <tbody class="table-content">
                <tr height="50" class="table-row" th:each="user : ${listUsers}">
                    <td width="30%"><span th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></span></td>
                    <td>
                        <a th:href="@{/admin/active/{id}(id=${user.getId()})}">
                            <img width="20" height="20"
                                 th:src="${user.isActive()} ? @{/visuals/checked.png} : @{/visuals/cross.png}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/admin/admin/{id}(id=${user.getId()})}">
                            <img width="20" height="20"
                                 th:src="${user.isAdmin()} ? @{/visuals/checked.png} : @{/visuals/cross.png}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/admin/modify/{id}(id=${user.getId()})}">
                            <img width="20" height="20" th:src="@{/visuals/edit.png}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/admin/delete/{id}(id=${user.getId()})}">
                            <img width="20" height="20" th:src="@{/visuals/delete.png}">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if = "${totalPages > 1}">
            <div class = "table-footer">
                <div class = "column-1">
                    <p>Nombre d'utilisateurs : <span th:text="${totalItems}"></span></p>
                </div>
                <div class = "column-2">
                    <p><a th:if="${currentPage > 0}" th:href="@{'/admin/' + ${currentPage - 1}}">Précédent</a>
                        <span th:unless="${currentPage > 0 }">Précédent</span></p>
                </div>
                <div class = "column-3">
					<p><span th:each="i: ${#numbers.sequence(0, totalPages -1 )}">
                        <a th:if="${currentPage != i}" th:href="@{'/admin/' + ${i}}"><span th:text="${i + 1}"></span></a>
						<span th:if="${currentPage == i}" th:text="${i + 1}"></span>
                    </span></p>
                </div>
                <div class = "column-4">
                    <p><a th:if="${currentPage < totalPages -1}" th:href="@{'/admin/' + ${currentPage + 1}}">Suivant</a>
                        <span th:unless="${currentPage < totalPages-1}">Suivant</span></p>
                </div>
            </div>
        </div>
    </main>
</div>
</body>