<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Accueil administrateur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/home_user.css">
</head>
<body>
<div id="page"></div>
<header>
    <h1>Application</h1>
</header>
<nav>
    <a th:href="@{/user/channels}">Accueil</a>
    <a th:href="@{/user/channels/mine}">Mes chats</a>
    <a th:href="@{/user/channels/invites}">Mes invitations</a>
</nav>
<div class="flex-container">
    <aside class="aside">
        <h2>
            <span th:text="${session.lastName}"></span>
            <span th:text="${session.firstName}"></span>
        </h2>
        <span th:text="${session.mail}"></span>
        <form action="admin/modifySelf">
            <input class="button" type="submit" value="Réglages" />
        </form>
    </aside>
    <main>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Propriétaire</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="channel, iState : ${channels}">
                <td><span th:text="${channel.getTitle()}"></span></td>
                <td><span th:text="${channel.getDescription()}"></span></td>
                <td><span th:text="${owners[iState.index]}"></span></td>
                <td><a th:href="@{/user/chats/delete/{id}(id=${channel.getId()})}">Supprimer</a></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer>
    <p>SR03 - Application de chat 2022 - Martin Schneider et Océane Bordeau</p>
</footer>
</body>
</html>