<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Accueil administrateur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/home_admin.css">
</head>
<body>
<div id="page"></div>
<header>
    <h1>Application</h1>
</header>
<nav>
    <a th:href="@{/admin/users}">Accueil</a>
    <a th:href="@{/admin/users/add}">Nouvel utilisateur</a>
    <a th:href="@{/admin/users/desactivated}">Utilisateurs désactivés</a>
</nav>
<div class="flex-container">
    <aside class="aside">
        <h2>
            <span th:text="${session.lastName}"></span>
            <span th:text="${session.firstName}"></span>
        </h2>
        <span th:text="${session.mail}"></span>
        <form action="admin/modifySelf">
            <input class="button" type="submit" value="Réglages" />
        </form>
    </aside>
    <main class="main">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Admin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.getFirstName()}"></span></td>
                <td><span th:text="${user.getLastName()}"></span></td>
                <td><span th:text="${user.isAdmin()}"></span></td>
                <td><a th:href="@{/wadmin/users/delete/{id}(id=${user.getId()})}">Supprimer</a></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer>
    <p>SR03 - Application de chat 2022 - Martin Schneider et Océane Bordeau</p>
</footer>
</body>
</html>