<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="text-center">
    <div class="logo">connexion</div>
    <div class="login-form-1">
        <form th:action="@{/login}" th:object="${user}" method="post" id="login-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <input type="text" th:style="${color}" class="form-control" th:field="*{mail}" placeholder="mail" />
                    </div>
                    <div class="form-group">
                        <input type="password" th:style="${color}" class="form-control" th:field="*{password}" placeholder="mot de passe" />
                    </div>
                </div>
                <button type="submit" th:style="${border}" class="login-button"><i th:style="${color}" class="chevron">&gt;</i></button>
            </div>
        </form>
    </div>
    <p th:style="${coloralerte}"><span th:text="${alerte}"></span></p>
</div>
</body>
</html>

