<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Accueil administrateur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/add_user.css">
</head>
<body>
<div class="flex-container">
    <aside class="aside">
        <div class="aside-header">
            <h3>MATTERLEAST</h3>
        </div>
        <div class="content">
            <div class="channel">
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/users}">TOUS LES UTILISATEURS</a></h4>
                </div>
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/users/add}">NOUVEL UTILISATEUR</a></h4>
                </div>
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/users/desactivated}">UTILISATEURS DÉSACTIVÉS</a></h4>
                </div>
            </div>
        </div>
        <div class="sidebar-footer">
            <div class='user_infos_container'>
                <h4><span th:text="${session.user.firstName}"></span></h4>
                <h5><span th:text="${session.user.mail}"></span></h5>
            </div>
            <a th:href="@{/admin/modifySelf}">
                <img width="20" height="20" th:src="@{/visuals/settings.png}"/>
            </a>
            <a th:href="@{/admin/deconnect}">
                <img width="20" height="20" th:src="@{/visuals/deconnexion.png}"/>
            </a>
        </div>
    </aside>
    <main class="main">
        <header>
            <h1>Modifier mes informations</h1>
        </header>
        <form class="form-text" th:action="@{/admin/modifySelf}" th:object="${user}" method="post">
            <div class="input">
                <input type="text" class="input-field" th:value="${session.user.firstName}" id="firstName" name="firstName" required />
                <label class="input-label" for="firstname">Prénom</label>
            </div>
            <div class="input">
                <input type="text" class="input-field" th:value="${session.user.lastName}" id="lastName" name="lastName" required/>
                <label class="input-label" for="lastname">Nom</label>
            </div>
            <div class="input">
                <input type="text" class="input-field" th:value="${session.user.mail}" id="mail" name="mail" required />
                <label class="input-label" for="mail">Email</label>
            </div>
            <div class="action">
                <button class="action-button" type="submit">Valider</button>
            </div>
        </form >
    </main>
    <!--<main class="main">
        <form action="#" th:action="@{/admin/modifySelf}" th:object="${user}" method="post">
            <div class="container">
                <h1>Ajouter un utilistaeur</h1>
                <p>Veuillez remplir ce formulaire pour créer un nouveau profil</p>
                <hr>

                <label for="firstname">
                    <b>Prénom</b>
                    <input type="text" th:value="${session.user.firstName}" id="firstName" name="firstName">
                </label>
                <label for="lastname">
                    <b>Nom</b>
                    <input type="text" th:value="${session.user.lastName}" id="lastName" name="lastName">
                </label>
                <label for="mail">
                    <b>Mail</b>
                    <input type="text" th:value="${session.user.mail}" id="mail" name="mail">
                </label>
                <div class="clearfix">
                    <button type="submit" class="savebtn">Enregistrer</button>
                </div>
            </div>
        </form>
    </main>-->
</div>
</body>
</html>