<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Accueil administrateur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/add_user.css">
</head>
<body>
<div class="flex-container">
    <aside class="aside">
        <div class="aside-header">
            <h3>MATTERLEAST</h3>
        </div>
        <div class="content">
            <div class="channel">
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/0}">TOUS LES UTILISATEURS</a></h4>
                </div>
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/add}">NOUVEL UTILISATEUR</a></h4>
                </div>
                <div class="fix-nav">
                    <h4><a th:href="@{/admin/desactivated}">UTILISATEURS DÉSACTIVÉS</a></h4>
                </div>
            </div>
        </div>
        <div class="sidebar-footer">
            <div class='user_infos_container'>
                <h4><span th:text="${session.user.firstName}"></span>  <span th:text="${session.user.lastName}"></span></h4>
                <h5><span th:text="${session.user.mail}"></span></h5>
            </div>
            <a th:href="@{/admin/modifySelf}">
                <img width="20" height="20" th:src="@{/visuals/settings.png}"/>
            </a>
            <a th:href="@{/admin/deconnect}">
                <img width="20" height="20" th:src="@{/visuals/deconnexion.png}"/>
            </a>
        </div>
    </aside>
    <main class="main">
        <header>
            <h1><span th:text="${title}"></span></h1>
        </header>
        <form class="form-text" th:action="${path}" method="post">
            <div class="input">
                <input type="text" class="input-field" th:value="${user.firstName}" id="firstName" name="firstName" required />
                <label class="input-label" for="firstname">Prénom *</label>
            </div>
            <div class="input">
                <input type="text" class="input-field" th:value="${user.lastName}" id="lastName" name="lastName" required/>
                <label class="input-label" for="lastname">Nom *</label>
            </div>
            <div class="input">
                <input type="text" class="input-field" th:value="${user.mail}" id="mail" name="mail" required />
                <label class="input-label" for="mail">Email *</label>
            </div>
            <p th:if="${blocked == 1}">L'utilisateur est bloqué, veuillez renseigner son mot de passe pour le débloquer.</p>
            <div class="input">
                <input type="password" class="input-field" th:value="${verification.previousPassword}" id="previousPassword" name="previousPassword" required />
                <label class="input-label" for="previousPassword">Veuillez entrer le mot de passe de l'utilisateur *</label>
            </div>
            <p> Si vous souhaitez modifier le mot de passe, veuillez renseigner les champs ci-dessous.</p>
            <div class="input">
                <input type="password" class="input-field" th:value="${verification.newPassword}" id="newPassword" name="newPassword" />
                <label class="input-label" for="newPassword">Nouveau mot de passe</label>
            </div>
            <div class="input">
                <input type="password" class="input-field" th:value="${verification.passwordRepetition}" id="passwordRepetition" name="passwordRepetition" />
                <label class="input-label" for="passwordRepetition">Veuillez entrer de nouveau le mot de passe</label>
            </div>
            <p style="color : #e74c3c"><span th:text="${alerte}"></span></p>
            <div class="action">
                <button class="action-button" type="submit">Valider</button>
            </div>
        </form >
    </main>
</div>
</body>
</html>