<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<header>header</header>
<nav>nav</nav>
<div class="content">
    <aside>aside</aside>
    <main>
        <form action="#" th:action="@{/admin/users/add}" th:object="${user}" method="post">
            <p>Nom <input type="text" th:field="*{lastName}" /></p>
            <p>Prenom <input type="text" th:field="*{firstName}" /></p>
            <p><input type="submit" value="Enregistrer" /></p>
        </form>
    </main>
</div>
<footer>footer</footer>
</body>
</html>